.add-button{
    padding: 1em.5em;
    border: none;
    border-radius: 5px;
    background-color: #34A5DA;
    cursor: pointer;
    color: #ffff;
}

.offline-notification{
    display: none;
    padding: 1em;
    text-align: center;
}


.offline-notification.show{
    background-color: red;
    color: white;
    display: block;
}